#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #0b0b0b;
}

.containerr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}