.movies-section {
    width: 100%;
    min-height: 90vh;

    .movies-container {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 20px;
        width: 100%;
    }

    .movies-section__details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 20px 0;
        padding: 0;
        font-size: 1rem;
        font-weight: 700;
        color: #fff;

        .details__results {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 10px 0;
        }
    }

}